/* style.css */

body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #E0E0E0;
    margin: 10px 0;
}

input.amount, select.option-1, select.option-2 {
    background-color: #1F1F1F;
    color: #E0E0E0;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    width: 220px; /* Adjust the width as needed */
    font-size: 16px;
    box-sizing: border-box;
}

input.amount::placeholder {
    color: #757575;
}

button.btn {
    background-color: #333;
    color: #E0E0E0;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, border-color 0.3s;
    margin: 20px 0;
}

button.btn:hover {
    background-color: #555;
    border-color: #777;
}

button.btn:active {
    background-color: #777;
    border-color: #999;
}

select.option-1, select.option-2 {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23E0E0E0' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 8px 10px;
}

h1.result {
    color: #E0E0E0;
    margin: 20px 0;
}